html,
body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 13px;
    background-color: #ffffff;
}

table {
    border-collapse: collapse;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin: 0px;
    padding: 0px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
}

.flex-colspread,
.flex-colfixed,
.flex-rowspread,
.flex-rowfixed,
.flex-row-md12 {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.flex-colspread {
    flex: 1 1 auto;
    height: 0;
}

.flex-colfixed {
    flex: 0 0 auto;
}

.flex-rowspread {
    flex: 1 1 auto;
    overflow: auto;
}

.flex-rowfixed {
    flex: 0 0 auto;
    overflow: auto;
}

.flex-row-md12 {
    flex: 0 0 50%;
}

.flex-row-md10 {
    flex: 0 0 41.666%;
}

.flex-row-md8 {
    flex: 0 0 33.333%;
}

.flex-row-md6 {
    flex: 0 0 25%;
}

.flex-row-md4 {
    flex: 0 0 16.666%;
}

.flex-row-md2 {
    flex: 0 0 8.333%;
}

.dialog {
    position: absolute;
    display: flex;
    flex-direction: column;
    min-width: 240px;
    min-height: 140px;
    border: 1px solid;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, .3);
    border-radius: none;
    z-index: 10;
}

.dialog-mask {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: #4e4e4e73;
}

.dialog>.dialog-header {
    flex: 0 0 auto;
    height: 32px;
    display: flex;
    flex-direction: row;
}

.dialog>.dialog-header>.dialog-title {
    flex: 1 1 auto;
    cursor: move;
    display: flex;
    align-items: center;
    padding: 0px 10px;
}


.dialog>.dialog-header>.dialog-icon {
    flex: 0 0 auto;
    width: 32px;
    height: 32px;
}

.dialog>.dialog-header>.dialog-icon:hover {
    cursor: pointer;
    background-color: #f87f7f;
    color: #ffffff;
}

.dialog>.dialog-body {
    flex: 1 1 auto;
    height: 26px;
    background-color: #fff;
}

.dialog>.dialog-footer {
    flex: 0 0 auto;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding: 8px 10px;
    box-sizing: border-box;
}


.dialog>.dialog-footer>.footer-btn {
    margin: 0 4px;
    min-width: 50px;
    font-size: 12px;
    border: 1px solid;
    cursor: pointer;
}

.pop {
    border: 1px solid;
    z-index: 9;
    background-color: #fff;
    border-color: #a4a5e4;
}

.pop>.pop-item {
    min-width: 100px;
    display: flex;
    height: 26px;
}

.pop>.pop-item:hover {
    cursor: pointer;
}

.pop>.pop-spe .pop-icon,
.pop>.pop-item .pop-icon {
    width: 24px;
    text-align: center;
    flex: 0 0 auto;
}

.pop>.pop-spe>.pop-label {
    border-bottom: 1px solid;
}

.pop>.pop-item>.pop-label {
    display: flex;
    align-items: center;
    padding: 0 10px;
    flex: 1 1 auto;
}

.pop>.pop-item>.pop-number {
    flex: 1 1 auto;
    width: 50px;
    text-align: right;
    outline: none;
    margin-right: 10px;
}

.tab>.title {
    height: 30px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.tab>.title>.title-span {
    display: flex;
    font-size: 12px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    cursor: pointer;
    border: 1px solid;
}

.tab>.panel {
    position: relative;
}

.datalist {
    overflow-y: scroll;
    border: 1px solid;
}

.datalist>.datalist-option {
    line-height: 24px;
    padding: 0 4px;
    cursor: pointer;
    margin: 1px 0;
}

.dorpdown {
    position: relative;
}

.colorpack,
.combobox {
    position: relative;
    border: 1px solid;
    background-color: white;
}

.dorpdown>.dorpdown-trigger,
.colorpack>.colorpack-trigger,
.combobox>.combobox-trigger {
    cursor: pointer;
    height: 100%;
}

.dorpdown>.dorpdown-trigger>.dorpdown-icon {
    display: flex;
    align-items: center;
    font-size: 20px;
}

.colorpack>.colorpack-trigger>.colorpack-text {
    font-size: 20px;
}


.dorpdown>.dorpdown-trigger>.dorpdown-arrow,
.colorpack>.colorpack-trigger>.colorpack-arrow,
.combobox>.combobox-trigger>.combobox-arrow {
    display: flex;
    align-items: center;
    transition: transform 0.2s;
}

.dorpdown.open>.dorpdown-trigger>.dorpdown-arrow,
.colorpack.open>.colorpack-trigger>.colorpack-arrow,
.combobox.open>.combobox-trigger>.combobox-arrow {
    transform: rotate(180deg);
}

.dorpdown>.dorpdown-options,
.colorpack>.colorpack-options,
.combobox>.combobox-options {
    top: 110%;
    left: 0;
    box-sizing: border-box;
    border: 1px solid;
    border-top: none;
    display: none;
    z-index: 99;
    background-color: white;
    overflow-y: auto;
    font-size: 13px;
}

.dorpdown.open>.dorpdown-options,
.colorpack.open>.colorpack-options,
.combobox.open>.combobox-options {
    display: block;
}

.combobox.open>.combobox-options>.combobox-option {
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 4px;
    min-height: 26px;
    display: flex;
    align-items: center;
}

.dorpdown.open>.dorpdown-options>.dorpdown-option {
    box-sizing: border-box;
    cursor: pointer;
    min-height: 26px;
}

.dorpdown.open>.dorpdown-options>.dorpdown-option>.item-icon {
    width: 24px;
    line-height: 26px;
    text-align: center;
}

.dorpdown.open>.dorpdown-options>.dorpdown-option>.item-text {
    align-items: center;
    padding-left: 10px;
}


.colorpack.open>.colorpack-options>.colorpack-items {
    position: relative;
}

.colorpack.open>.colorpack-options>.colorpack-items>.colorpack-cell {
    width: 20px;
    height: 20px;
}

.colorpack.open>.colorpack-options>.colorpack-items>.colorpack-packer {
    box-sizing: border-box;
    width: 25px;
}

.colorpack.open>.colorpack-options>.colorpack-items>.colorpack-choese {
    box-sizing: border-box;
    width: 40px;
}

.colorpack.open>.colorpack-options>.colorpack-items>.colorpack-custom {
    width: 95px;
    box-sizing: border-box;
    background-color: #c2bebe;
}

.checkbox {
    cursor: pointer;
}

.checkbox>.checkbox-text {
    display: flex;
    align-items: center;
    padding-right: 10px;
}

.checkbox>.checkbox-icon {
    font-size: 1.8em;
    display: flex;
    align-items: center;
    margin-right: 4px;
}

.form-container {
    padding: 10px;
}

.form-layout {
    display: flex;
    padding: 10px;
    box-sizing: border-box;
    flex-direction: column;
}

.form-layout>.form-layout-item {
    display: flex;
    flex-direction: row;
    margin: 6px 0px;
    min-height: 26px;
}

.form-layout>.form-layout-item>.form-label2 {
    margin-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-layout>.form-layout-item>.form-value2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.form-layout>.form-layout-item>.form-label {
    min-width: 50px;
    height: 26px;
    margin-right: 10px;
    flex: 0 0 auto;
    text-align: right;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-layout>.form-layout-item>.form-number,
.form-layout>.form-layout-item>.form-input {
    min-width: 90px;
    height: 26px;
    box-sizing: border-box;
    outline: none;
    border-width: 1px;
    border-style: solid;
}

.form-layout>.form-layout-item>.form-select {
    min-width: 100px;
    height: 26px;
    box-sizing: border-box;
    outline: none;
    border-width: 1px;
    border-style: solid;
}

.form-layout>.form-layout-item>.form-checkbox {
    min-width: 16px;
    min-height: 16px;
    border-width: 1px;
}

.form-layout>.form-layout-item>.form-number {
    text-align: right;
}

.form-layout>.form-layout-item>.form-textarea {
    box-sizing: border-box;
    outline: none;
    resize: none;
}

.form-layout>.form-layout-item>.form-input-label {
    display: flex;
    text-align: left;
    align-items: center;
    padding: 0 4px;
    margin-right: 10px;
}

.msg-conetnt {
    padding: 10px;
}

.page-header {
    max-height: 85px;
    border-bottom: 1px solid;
}

.page-header>.menu-panel {
    padding: 4px;
    flex-wrap: wrap;
    border-bottom: 1px solid;
}

.page-header>.menu-panel>.menu-btn {
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    font-size: 20px !important;
    line-height: 27px;
    padding: 0 4px;
    border-radius: 4px;
}

.page-header>.menu-panel>.menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;
    cursor: pointer;
    border-right: 1px solid;
}

.page-header>.menu-panel>.menu-select {
    box-sizing: border-box;
    cursor: pointer;
    margin-right: 4px;
    outline: none;
}

.page-func {
    height: 30px;
    box-sizing: border-box;
    border-bottom: 1px solid;
}

.page-body .table-ruler {
    border-width: 0px;
    border-style: solid;
}

.page-footer {
    height: 26px;
    box-sizing: border-box;
    border-top: 1px solid;
}

.page-footer>.status-label {
    height: 100%;
    border-left: 1px solid;
}

.page-footer>.status-button {
    height: 100%;
    line-height: 24px;
    box-sizing: border-box;
    cursor: pointer;
    padding: 0 10px;
    border-left: 1px solid;
}

.table-contoller {
    box-sizing: border-box;
    overflow: hidden;
}

.table-editor {
    box-sizing: border-box;
    overflow: hidden;
    z-index: 1;
    position: relative;
}

.table-top {
    height: 25px;
}

.table-bottom {
    height: 18px;
}

.table-left {
    width: 40px;
}

.table-right {
    width: 18px;
}

.page-header>.menu-panel>.menu-sep {
    box-sizing: border-box;
    width: 1px;
}

.page-func>.func-pos {
    width: 100px;
    outline: none;
    border: 0px;
    text-align: center;
}

.page-func>.func-form-panel {
    width: 28px;
    padding: 6px;
    border-left: 1px solid;
    border-right: 1px solid;
}

.page-func>.func-value {
    outline: none;
    border: none;
    padding: 0 4px;
}

.editor-paper {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 600px;
    height: 400px;
    z-index: -1;
    border: 1px dotted #f73939;
}

.drag-line {
    display: none;
    border: 1px dotted;
    z-index: 99;
}

.ruler-table,
.editor-table {
    border-collapse: collapse;
    table-layout: fixed;
}

.ruler-table>.ruler-tr>.ruler-td,
.editor-table>.editor-tr>.editor-td {
    box-sizing: border-box;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    border-radius: 0;
    vertical-align: top;
    outline: none;
}


.editor-table>.editor-tr>.editor-td>.editor-td-content {
    outline: none;
}

.editor-table>.editor-tr>.editor-td>.editor-td-content.editor-td-editcell {
    background-color: #fff;
    border: 1px solid #929292;
    box-sizing: border-box;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.2);
}

.ruler-table>.ruler-tr>.ruler-td>.ruler-top-delimiter:hover {
    cursor: col-resize;
}

.ruler-table>.ruler-tr>.ruler-td>.ruler-left-delimiter:hover {
    cursor: row-resize;
}

.scroll-horizontal {
    height: 20px;
    box-sizing: border-box;
}

.scroll-vertical {
    width: 20px;
    box-sizing: border-box;
}


.unselected {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}